* {
    box-sizing: border-box;
}

.row {
    box-shadow: 10px 10px 30px grey;
}

.chat-left {
    overflow: auto;
}

.chat-right {
    padding-top: 5px;
    overflow: auto;
}

.chat, .chat-left, .chat-right {
    min-height: 300px;
    max-height: 500px;
}

.contact {
    padding: 10px;
}

.contact:nth-child(odd){
    background-color: #f2f2f2;
}

.contact p {
    margin: 0;
}

.message-income {
    background-color: #ffcffd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;
}

.message-outcome {
    text-align: right;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;
}

.input-group {
    margin: 20px
}