* {
    box-sizing: border-box;
}

.chat {
    border-radius: 5px;
    box-shadow: 10px 10px 30px grey;
}

.chat-messages {
    overflow: auto;
    min-height: 300px;
    max-height: 500px;
}

.contact {
    padding: 10px;
}

.contact:nth-child(odd){
    background-color: #f2f2f2;
}

.contact p {
    margin: 0;
}

.message-bot {
    background-color: #62f3fd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;

}

.message-income {
    background-color: #ffcffd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;
}

.message-outcome {
    text-align: right;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;
}

.login {
    text-align: center;
    border-radius: 5px;
    padding: 0 !important;
    box-shadow: 10px 10px 30px grey;
}

.login h2 {
    padding: 10px 0 15px;
}

#chat-form {
    box-shadow: 0px -17px 23px -17px rgba(0,0,0,0.51);
}